{% extends "base.html" %}
{% load staticfiles cms_tags thumbnail %}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}

{% block content %}
	{% placeholder "content" %}
  <!-- image Gallery -->
  <div class="wrapper">
    <div class="">
      <ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-3 masonry">
        {% for gallery in latest_gallery_list %}
        <li class="masonry-item grid">

          <figure class="effect-sarah"> <img src="{% thumbnail gallery.featured_image 300x600 %}" alt="{{ gallery.title }}" />
            <figcaption>
              <h2>Gallery <span>{{ gallery.title }}</span></h2>
              <p>{{ gallery.description }}</p>
              <a href="details.html">View more</a> </figcaption>
          </figure>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock content %}
<!-- Image Gallery -->